fastapi
uvicorn
requests
python-jose
pymongo
python-dotenv
PyJWT
cryptography
httpx
pydantic
websockets
python-multipart==0.0.6

langchain
langchain-community
langgraph
langsmith

langchain-google-genai
langchain-gemini
langchain-groq
PyPDF2
pymupdf
matplotlib
gradio
langgraph-checkpoint-mongodb

requests
motor
email-validator
bcrypt
python-multipart
